<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tune Hub Home</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body background="th.jpg" class="background">
<center>
	<h1>WELCOME TO TUNE HUB</h1>
	<br>
	<a href="login"><button type="submit" class="login-button" >LOGIN</button></a>
	<!--  <button type="submit" class="buy-button" >BUY</button>-->
	<br>
	<br>
	<a href="register"><button type="submit" class="login-button" >REGISTER</button></a>
</center>
</body>
</html>